@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  font-family: "Roboto", sans-serif;
}

.row {
  margin-top: 10px;
}

/*----- DISCOUNT-INFO -----*/

.card-text {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 5px;
  color: #969696;
}

.card-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0px;
}

#discount {
  color: #2ECC71;
  font-size: 30px;
  font-weight: 700;
}

span#currency {
  color: #969696;
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 2px;
}

/*----- DISCOUNT-INFO Close -----*/

/*----- CALLBACK -----*/

.callback {
  margin-top: 10px;
}

.form-control {
  margin-top: 5px;
}

/*----- CALLBACK Close -----*/

/*----- QUIZ -----*/

.progress .progress-bar {
  background-image: linear-gradient(90deg, #00d9bf, #00d977);
  transition: 2s;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
}
.progress{
	height: 35px;
}
.question-title {
  margin: 10px 0px;
  font-weight: 700;
}

.question-counter {
  margin-top: 10px;
  color: #969696;
}

.answer-box {
  display: flex;
  flex-direction: row;
}

.btn-box {
  margin-top: 20px;
}
/*----- QUIZ Close -----*/

/*----- IMAGES -----*/

.answer-box img {
  height: 100px;
  margin-bottom: 6px;
}

/*----- IMAGES Close -----*/

/*----- BUTTONS -----*/

.btn-next {
  margin-top: 5px;
  background-image: linear-gradient(90deg, #00d9bf, #00d977);
	background-color: transparent !important;
  border-color: transparent;
  color: #fff;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
}

.btn-next:hover {
  border-color: transparent;
  box-shadow: 0 3px 0 0 #00bb85, 0 2px 8px 0 #00d99b, 0 4px 10px 0 rgba(33, 7, 77, .5);
  cursor: pointer;
}

.lg {
  padding: 5px 60px 5px 60px !important;
}

.btn-box {
  display: none;
}
.radio-btn{
	width: 17px;
	height: 17px;
}
/*----- BUTTONS Close -----*/

/*----- END-TEMPLATE -----*/

section#end {
  margin-bottom: 20px;
  display: none;
}

.list-group-item {
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid transparent !important;
}

.template-title {
  font-size: 30px;
}

.template-box {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, .125);
  padding: 10px;
}

.list-group i {
  font-size: 45px;
  margin-right: 10px;
}

/*----- END-TEMPLATE Close -----*/
