@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  font-family: "Roboto", sans-serif;
}
.row {
  margin-top: 10px;
}

/*----- DISCOUNT-INFO -----*/
.card-text {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 5px;
  color: #969696;
}
.card-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0px;
}
#discount {
  color: #2ECC71;
  font-size: 30px;
  font-weight: 700;
}
span#currency {
  color: #969696;
	font-size: 16px;
}
/*----- DISCOUNT-INFO Close -----*/

/*----- CALLBACK -----*/
.callback{
	margin-top: 10px;
}
.form-control{
	margin-top: 5px;
}
/*----- CALLBACK Close -----*/

/*----- QUIZ -----*/
.progress .progress-bar{
	background-image: linear-gradient(90deg, #00d9bf, #00d977);
}
.question-title{
	margin: 10px 0px;
	font-weight: 700;
}
.answer-box{
	display: flex;
	flex-direction: row;
}
/*----- QUIZ Close -----*/

/*----- IMAGES -----*/
.answer-box img{
	height: 100px;
	margin-bottom: 6px;
}
.btn-success{
	background-image: linear-gradient(90deg, #00d9bf, #00d977);
	border-color: transparent;
}
.btn-success:hover{
	border-color: transparent;
	box-shadow: 0 3px 0 0 #00bb85, 0 2px 8px 0 #00d99b, 0 4px 10px 0 rgba(33,7,77,.5);
	cursor: pointer;
}
.btn-success:active, .btn-success:focus, .btn-success:visited{
	border-color: transparent !important;
	background-image: linear-gradient(90deg, #00d9bf, #00d977) !important;
	box-shadow: none !important;
}
#place-btn{
	margin-top: 10px;
	align-items: center;
}
/*----- IMAGES Close -----*/
